<h4>Historical Test Results</h4>
<p><a href="../">&lt;- Back</a></p>

<div class="row">
  <div class="chart-container col-sm">
    <canvas id="timeChartElement"></canvas>
  </div>
  <div class="chat-container col-sm">
    <canvas id="resultChartElement"></canvas>
  </div>
</div>

<hr />

<table class="table">
  <tr class="table">
    <th scope="col">Recent Errors</th>
  </tr>
  {{#each result_objects}}
    {{#each expections}}
      <tr>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  {{/each}}
</table>



<script type="text/javascript">
  var timeChartTitle = "Test Run Time";
  var resultsChartTitle = "Test Results";
  var JSONdata = decodeURIComponent("{{{results}}}");
  var data = JSON.parse(JSONdata);
</script>
<script src="/js/charts.js"></script>
